snippet vdump
	echo "<pre>";var_dump(${1});die;
snippet vexport
	echo "<pre>";var_export(${1});die;
snippet ok
	echo "ok";die;
snippet no
	echo "no";die;
snippet namespace
	namespace `substitute(expand("%:p:h"), '\/', '\\\', "g")`;
