[submodule "pack/common/start/supertab"]
	path = pack/common/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/common/start/ultisnips"]
	path = pack/common/start/ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "pack/common/start/vim-snippets"]
	path = pack/common/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git

[submodule "pack/devops/start/ansible-vim"]
	path = pack/devops/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/devops/start/vim-kubernetes"]
	path = pack/devops/start/vim-kubernetes
	url = https://github.com/andrewstuart/vim-kubernetes.git

[submodule "pack/php/start/php-documentor-vim"]
	path = pack/php/start/php-documentor-vim
	url = https://github.com/sumpygump/php-documentor-vim.git
[submodule "pack/php/start/php.vim"]
	path = pack/php/start/php.vim
	url = https://github.com/stanangeloff/php.vim.git
[submodule "pack/php/opt/vdebug"]
	path = pack/php/opt/vdebug
	url = https://github.com/vim-vdebug/vdebug
[submodule "pack/common/opt/dracula-theme"]
	path = pack/common/opt/dracula-theme
	url = https://github.com/dracula/dracula-theme
[submodule "pack/common/opt/dracula"]
	path = pack/common/opt/dracula
	url = https://github.com/dracula/vim
[submodule "pack/devops/start/vim-hcl"]
	path = pack/devops/start/vim-hcl
	url = https://github.com/b4b4r07/vim-hcl.git
[submodule "pack/php/start/vim-phpfmt"]
	path = pack/php/start/vim-phpfmt
	url = https://github.com/beanworks/vim-phpfmt
[submodule "pack/common/opt/vim-fugitive"]
	path = pack/common/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/common/start/editorconfig-vim"]
	path = pack/common/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/common/start/vim-table-mode"]
	path = pack/common/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode
[submodule "pack/go/start/vim-go"]
	path = pack/go/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "pack/java/start/vim-javacomplete2"]
	path = pack/java/start/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2
[submodule "pack/common/start/ctrlp.vim"]
	path = pack/common/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/common/start/coc.nvim"]
	path = pack/common/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/common/start/vim-gf-user"]
	path = pack/common/start/vim-gf-user
	url = https://github.com/kana/vim-gf-user
[submodule "pack/common/start/vim-gf-diff"]
	path = pack/common/start/vim-gf-diff
	url = https://github.com/kana/vim-gf-diff
[submodule "pack/devops/start/vim-toml"]
	path = pack/devops/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "pack/common/start/vim-dirdiff"]
	path = pack/common/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff
