[submodule "pack/my/start/ansible-vim"]
	path = pack/my/start/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "pack/my/start/vim-kubernetes"]
	path = pack/my/start/vim-kubernetes
	url = https://github.com/andrewstuart/vim-kubernetes.git
[submodule "pack/my/start/ultisnips"]
	path = pack/my/start/ultisnips
	url = https://github.com/sirver/ultisnips.git
[submodule "pack/my/start/supertab"]
	path = pack/my/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/my/start/php-documentor-vim"]
	path = pack/my/start/php-documentor-vim
	url = https://github.com/sumpygump/php-documentor-vim.git
[submodule "pack/my/start/php.vim"]
	path = pack/my/start/php.vim
	url = https://github.com/stanangeloff/php.vim.git
